@model IEnumerable<Domain.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visitor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorGoals)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visitor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitorGoals)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
        </td>
    </tr>
}

</table>
