@model Domain.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.League.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo) " alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTeam", new { id = Model.TeamId }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to League", "Details", new { id = Model.LeagueId }, new { @class = "btn btn-primary" })
</p>
